export ANDROID_CLIENT_ID=FILL_IN
export APNS_KEY_ID=FILL_IN
export APNS_AUTH_KEY_PATH=FILL_IN
export APNS_TEAM_ID=FILL_IN
export APNS_BUNDLE_ID=FILL_IN
export IOS_CLIENT_ID=FILL_IN
export DB_FILENAME=FILL_IN
export FLASK_ENV=development
export KEYFILE_PATH=FILL_IN
export SENDGRID_API_KEY=FILL_IN
export PORT=5000
export PROJECT_ID=FILL_IN
export GMAIL_API_CREDENTIALS=FILL_IN
export GMAIL_API_TOKEN=FILL_IN
